@import "tailwindcss";

@theme {
  --color-background-header: #f7fafc;
  --color-background-primary: #f1f5f9;
  --color-background-card: #f7fafc;
  --color-border-card: #adadad;

  --color-navlink-button: #11212c;
  --color-navlink-button-hover: #4f8fba;

  --color-background-button-add-cart: #5e72e4;
  --color-background-button-add-cart-hover: #4a5ed0;
  --color-background-button-remove-cart: #e53e3e;
  --color-background-button-remove-cart-hover: #c53030;

  --color-background-button-filter: #e3e8ee;
  --color-background-button-filter-hover: #d1d8e0;
  --color-background-button-filter-selected: #5e72e4;

  --color-primary: #2d3748;
  --color-secondary: #4a5568;

  --color-money: #059669;

  --color-ghost: #a0aec0;
  --color-accent: #5e72e4;
  --color-muted: #8c98a4;
}

/* @theme {
  --color-background-header: #F7FAFC;
  --color-background-primary: #FFFFFF;
  --color-background-card: #F7FAFC;

  --color-background-button-add-cart: #5E72E4;
  --color-background-button-add-cart-hover: #4A5ED0;
  
  --color-background-button-buy: #38B2AC;
  --color-background-button-buy-hover: #2C9C96;
  
  --color-background-button-filter: #E3E8EE;
  --color-background-button-filter-hover: #D1D8E0;

  --color-border-card: #E3E8EE;

  --color-primary: #2D3748;
  --color-secondary: #4A5568;
  --color-money: #38B2AC;
  --color-ghost: #A0AEC0;
  --color-accent: #5E72E4;
  --color-muted: #8C98A4;

  --color-hover-primary: #1A202C;
  --color-hover-secondary: #2D3748;
  --color-hover-money: #2C9C96;
  --color-hover-accent: #4A5ED0;
  --color-hover-ghost: #718096;
  --color-hover-muted: #6B7885;
} */
